.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.container {
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.filter {
    margin: 15px;
}
.form-group {
    margin-right: 20px;
}
.date {
    margin-left: auto;
}
select.form-control {
    max-height: 90px;
}