.header {
    display: flex;
    width: 100%;

    padding: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.username {
    margin-left: auto;
}

.logout {
    margin-left: 15px;

    background-color: #1C8EF9;
    color: white;
    border: none;
}

.logout:active, .logout:focus {
    outline: none;
}

.logout:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.success:after {
    content: '';
    border: 5px solid rgb(0, 219, 0);

    position: absolute;
    border-radius: 50%;
    left: 103%;
}

.fail:after {
    content: '';
    border: 5px solid red;

    position: absolute;
    border-radius: 50%;
    left: 103%;
}